/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  background-color: #616163;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
/*My css below*/

.gameboard-container{
    display:grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px,1fr));
    max-width: 400px;
    max-height: 400px;
    align-self: center;
    border-color: #DAF5FF;
}

.cell{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #DAF5FF;;

}

.cell > div {
  font-size: 3em;
}

.x-marker{
  color: #90B6BF;
}

.o-marker{
  color: #D29AA0;
}

dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter:  blur(5px);
  -webkit-backdrop-filter:  blur(5px);
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
